# ~/.config/starship.toml

format = "$all"

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

# Disable the newline at the start of the prompt
add_newline = false


[character]
success_symbol = "[➜](bold green) "
error_symbol = "[✗](bold red) "


[kubernetes]
format = 'on [⛵ $context \($namespace\)](dimmed green) '
disabled = false
[kubernetes.context_aliases]
"dev.local.cluster.k8s" = "dev"
